<launch>
    <group ns="uav1">
        <node pkg="camera_locate" type="locate_gazebo.py" name="locate_node" output="screen">
            <param name="ID" value = "1"/>	
            <param name="data_save_path" value = "$(find camera_locate)/data/"/> 
        </node>
    </group>

    <!-- <group ns="uav2">
        <node pkg="camera_locate" type="locate_gazebo.py" name="locate_node" output="screen">
            <param name="ID" value = "2"/>	
            <param name="data_save_path" value = "$(find camera_locate)/data/"/> 
        </node>
    </group> -->
</launch>
